.activity {
    h3 {
        margin: auto;
        font-weight: 600;
    }

    .notifications-list {
        margin: 0;
    }

    .notification-container {
        position: relative;
    }

    .border-line {
        background-color: var(--light-grey);
        width: 82%;
        height: 1px;
        position: absolute;
        bottom: 0;
        right: 12px;
    }

    .notification {
        display: flex;
        align-items: center;
        min-height: 40px;
        padding: 12px 16px 13px;
        color: black;

        .details {
            margin: 0 12px;
            min-width: 200px;
            flex: 1;

            p {
                margin: 0;
                display: inline;
            }

            .time-ago {
                margin-left: 5px;
                color: var(--dark-grey);
            }

            #follow-notification-username {
                display: block;
            }
        }

        .square-post-image {
            height: 40px;
            width: 40px;
        }
    }

    .follow-notification {
        button {
            z-index: 3;
        }
    }
}
