.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;

    .links {
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        border-top: 1px solid var(--light-grey);
        position: relative;

        img {
            width: 24px;
            height: 24px;
        }

        .avatar-container {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }

        .avatar-container.bordered {
            border: 1px solid black;
        }
    }
}

.bottom-nav-popup {
    padding: 0 16px;
    width: 100%;
    background-color: var(--off-black);
    position: relative;
    animation-name: revealPopup;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    bottom: -45px;

    p {
        background-color: var(--off-black);
        color: white;
        padding: 12px 0px;
        margin: 0;
    }
}

@keyframes revealPopup {
    0% {
        bottom: -45px;
    }
    20% {
        bottom: 0;
    }
    80% {
        bottom: 0;
    }
    100% {
        bottom: -45px;
        display: none;
    }
}
