.comments-page {
    .form-container {
        height: 62px;
        padding: 8px 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--very-light-grey);

        img {
            margin: 0 16px;
        }

        form {
            padding: 12px 16px;
            margin-right: 16px;
            border: 1px solid var(--light-grey);
            border-radius: 20px;
            width: 295px;
            display: flex;
            justify-content: space-between;

            button {
                color: var(--blue);
                font-weight: bold;

                &:disabled {
                    opacity: 0.3;
                }
            }
        }
    }

    .comment-container {
        margin-bottom: 16px;
        padding: 12px 28px 0 16px;

        .comment-elements {
            border: 1px solid red;
            display: flex;
            justify-content: space-between;

            .user-avatar {
                margin-top: -5px;
            }

            .text-block {
                border: 1px solid yellow;
                width: 257px;
            }

            svg {
                height: 12px;
                width: 12px;
                margin-top: 9px;
            }


            
        }
    }
}

// .main-comment {
//     border: 1px solid red;
//     margin-left: -12px;
//     margin-right: 0;
//     // padding: 12px 16px;
//     width: auto;
// }

// .author {
//     font-weight: bold;
// }

// p {
//     margin: 0;
// }

// .inner-container {
//     display: flex;
//     justify-content: space-between;
// }

// .text {
//     display: flex;
//     width: 80%;
//     text-align: left;
//     // update this later
// }
