.image-editor {
    .canvas-container {
        width: 100%;
        // border: 1px solid red;
        position: relative;

        canvas {
            width: 100%;
        }

        button {
            background-color: transparent;
            border: 0;
            bottom: 16px;
            outline: 0;
            padding: 0;
            position: absolute;
            z-index: 2;
        }

        span {
            display: block;
            overflow: hidden;
            text-indent: 110%;
            white-space: nowrap;
            background: transparent;
            background-size: 89px 89px;
            height: 30px;
            width: 30px;
        }

        .rotate-button {
            right: 16px;

            .rotate-sprite {
                background-position: 0 -59px;
            }
        }

        .edit-button {
            left: 16px;

            .edit-sprite {
                background-position: -59px 0;
            }
        }
    }

    footer {
        height: 44px;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
            width: 50%;
            border-top: 1px solid var(--light-grey);
            opacity: 0.5;
        }

        .selected {
            border-top: 1px solid black;
            font-weight: bold;
            opacity: 1;
        }
    }
}

.filters-container {
    display: flex;
    height: 156px;
    padding: 16px 13px;
    width: 100vw;
    overflow: scroll;

    .filter-button {
        padding: 0 3px;

        .filter-name {
            margin: 0;
            color: var(--dark-grey);
            font-size: 12px;
            padding-bottom: 10px;
        }

        img {
            width: 100px;
            height: 100px;
        }
    }

    .selected-filter {
        .filter-name {
            font-weight: 600;
            color: black;
        }

        img {
            animation-name: shrink;
            animation-duration: 0.1s;
            animation-timing-function: ease-out;
        }
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
