.home {
    height: 100%;
    position: relative;

    .feed {
        padding: 0;
        overflow: scroll;
        position: absolute;
        top: 44px;
    }

    button {
        position: absolute;
        top: 44px;
    }
}
