.home {
    height: 100%;
    position: relative;

    .feed {
        padding: 0;
        width: 100%;
        overflow: scroll;
        position: absolute;
        top: 44px;
        padding-bottom: 45px;
    }

    .home-logout-button {
        position: absolute;
        top: 44px;
    }
}
