.followers {

    header {
        h3 {
            margin-left: -20px;
        }
    }

    .follower {
        padding: 8px 16px;

        .container {
            display: flex;

            
        }
    }

}