.followers-and-following {
    header {
        h3 {
            margin-left: -20px;
        }
    }

    .suggested-title {
        margin: 16px 0 12px 0;
        padding: 0 12px;
        font-size:  16px;
    }
}
