.user-link {
    padding: 8px 16px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .image-and-text {
            display: flex;
            align-items: center;
        }

        .text {
            padding: 0 5px;
        }

        a {
            flex: 1;
        }

        img {
            margin: 4px;
        }

        .text-after-username {
            color: var(--dark-grey);
        }
    }
}
