.explore {

    .search-bar {
        border: 1px solid var(--light-grey);
        color: var(--dark-grey);
        text-align: center;
        width: 100%;
        border-radius: 6px;
        padding: 4px 12px 4px 22px;

        svg {
            height: 10px;
            width: 10px;
            margin-right: 5px;
            fill: var(--dark-grey);
        }
    }

    .search-bar-selected {
        text-align: left;
    }

    .cancel-button {
        font-weight: 600;
        margin-left: 12px;
    }

    .pages-to-explore {
        margin-top: 10px;

        .container {
            padding: 8px 16px;
            display: flex;
            // border: 1px solid red;
            align-items: center;
            height: 60px;

            .user-avatar {
                width: 44px;
                height: 44px;
            }
            
            .username-and-bio {
                // border: 1px solid yellow;
                width: 100%;
                margin-left: 10px;
                font-size: 14px;
                align-items: center;

                p {
                    margin: 0;
                }

                .explore-bio {
                    font-weight: 400;
                    color: var(--dark-grey);
                }
            }



        }

    }
    
}