.post {
    width: 100%;
    // border: 1px solid red;

    .post-header {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        // border: 1px solid red;

        p {
            width: 80%;
            text-align: left;
            font-weight: bold;
        }
    }

    .image-container {
        // border: 1px solid red;

        .post-image {
            width: 100%;
        }
    }

    .post-footer {
        width: 100%;
        height: 185px;
        padding: 0 16px;
        margin-top: 4px;
        border: 1px solid red;

        .footer-icons {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .icons-left {
                display: flex;
                justify-content: space-between;
                width: 30%;
            }
        }
    }
}
