#change-password {
    #username {
        font-size: 24px;
    }

    input {
        padding: 4px 12px;
    }

    button {
        width: auto;
        margin-top: 16px;
        padding: 5px 9px;
    }

    .password-message {
        color: var(--red-text);
        margin-top: 0;
    }
}
