.post-collections {
    .post-selector-buttons {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid var(--light-grey);
        height: 46px;
        margin: 0;
        align-items: center;

        img {
            width: 24px;
        }
    }

    .selected-posts {

        .grid-view {
            display: grid;
            grid-gap: 3px;
            grid-template-columns: minmax(0, 223px) minmax(0, 223px) minmax(0, 223px);
            padding-bottom: 40px;

            img {
                width: 100%;
            }
        }
    }
}
