body {
    width: 100vw;
    height: 100vh;
}

.app {
    width: 100%;
    height: 100%;
}

.screenshot {
    width: 500px;
}

.blue-button {
    background-color: #0095f6;
    color: #fff;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    padding: 5px;
    margin: 10px auto;
    font-weight: 600;
}
