.signup-page {
    // border: 1px solid red;

    .subtext {
        color: rgba(var(--f52,142,142,142),1);
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        margin: 0 40px 10px;
        text-align: center;
        width: 100%;
    }
}
