.signup-form {
    width: 100%;
    text-align: center;

    input {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 5px;
        margin: 10px auto;
    }
}


.grey-input, .white-input {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    outline: none;
    background-color: #fafafa;
    padding: 4px 9px;
    margin: 6px 0;
    line-height: 30px;
}