.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12%;
    border: 1px solid red;

    .subtext {
        color: rgba(var(--f52,142,142,142),1);
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        margin: 0 40px 10px;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        width: 100%;
    }
}
