.signup-form {
    
}

.signup-terms {
    color: rgba(var(--f52, 142, 142, 142), 1);
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.1px;

    span {
        font-weight: bold;
    }
}
