.login-page {
    padding-top: 40px;

    .main-logo {
        margin: 22px auto 12px;
    }

    .login-form {
        button {
            margin: 15px auto;
        }
    }

    .blue-button {
        margin: 15px auto;
    }
}